<html>

<head>
<title>Page Title</title>
<link href="/assets/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <form method="POST" action="/person">
        Firstname <input type="text" id="firstname" name="firstname" /><br />
        Lastname <input type="text" id="lastname" name="lastname" /><br />
        <input type="submit" value="Enviar">
        </form>
        <script>
            $.ajax({
            type: "POST",
            url: "/personjson",
            data: JSON.stringify({
            firstname: "Eduardo",
            lastname: "Luna"
            }),
            dataType: "json",
            contentType: "application/json"
            });
            </script>
</body>

</html>